/* Bounce */
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* Blink */
/* Firefox old*/
@-moz-keyframes blink {
  0% {
      opacity:0.7;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:0.7;
  }
} 

@-webkit-keyframes blink {
  0% {
      opacity:0.7;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:0.7;
  }
}
/* IE */
@-ms-keyframes blink {
  0% {
      opacity:0.7;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:0.7;
  }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
      opacity:0.7;
  }
  50% {
      opacity:0;
  }
  100% {
      opacity:0.7;
  }
} 
.blink {
  -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
  -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
  -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
  animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}