---
layout: bootstrap
title: Creative Director
permalink: /
---

		<!-- Mobile Navigation -->
		{% include mobile-navigation.html %}

		<!-- Main Content -->
		<div class="container">
			<div class="brand-wrapper">
					<div class="brand">
						<a href="#page-top">
							{% include logo.svg %}
						</a>
						<div class="more" href="#about">
								<svg class="mouse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet">
								<g fill="none" fill-rule="evenodd">
									<rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36"/>
									<circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#FFF"/>
								</g> 
							</svg>
							</div>
						</div>

						<!-- Navigation -->
						{% include navigation.html %}

			</div>
					<div class="row">
							<div class="col offset-sm-3" id="main">
								<a href="#about" class="more-arrow blink">
										<img src="/img/more.svg" alt="">
								</a>
								<h2 id="about">About</h2>
								<p>
										Cras aliquet interdum turpis eu elementum. Aenean id massa suscipit, consequat urna vitae, rhoncus lectus. Proin nec diam luctus, blandit quam eu, sollicitudin massa. Donec tellus ante, elementum id bibendum at, sagittis at orci. Curabitur id elit ante. Maecenas rhoncus, urna ac vulputate pulvinar, magna augue porta nulla, et aliquam leo nisl vel tellus. Nullam tempus massa eu justo pellentesque, nec facilisis est commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec et neque sem. Nunc eleifend elit et eros efficitur, at vulputate est condimentum. Curabitur vel massa eros. Aenean accumsan, mauris at feugiat mollis, justo magna placerat arcu, eu viverra purus tellus id sem. Proin ut nibh condimentum, facilisis ipsum ut, commodo augue. Nullam ut ligula nec augue dictum congue a facilisis justo.
								</p>
								<h2 id="work">Work</h2>
								<p>
									A quick peek behind the curtain.
								</p>
								<div class="work-section">
										<h3 class="work-title">OpenStack Summit<span class="project-type">Event</span></h3>
										<ul class="work-tags">
											<li>creative direction</li>
											<li>UI design</li>
											<li>front-end dev</li>
											<li>graphic design</li>
											<li>event signage</li>
											<li>presentation</li>
											<li>videography</li>
										</ul>
										<p>
												The <a href="#">OpenStack Summit</a> is one of the largest open source conferences in the world, thrown by the OpenStack Foundation. The Summit has visited 4 continents and hosted up to 8,000 attendees from 60+ countries. This is easily the most intense and exciting design project in my portfolio.
										</p>
										<p>
											<img src="/img/work/yvr-slide.jpeg" alt="" class="work-img">
										</p>
										<p>
												I work with remote illustrators to develop the event's art direction and overall theme. FWIW, themes are unique to each location and reinvented every 6 months. Everything is created as vector so we have the flexibility to use across any medium and format. Adobe Illustrator is our best friend in this stage. Next we design several individualized looks utilizing consistent type and color palette. Mock event signage is then created, essentially creating templates, which are finalized with our event production firm (fnTech) once budget and specs are finalized.
										</p>
										<p>
												On the web side, we work with the marketing team to optimize the marketing site to drive registrations and event sponsorships. Completed research, wireframing and content development (with content team) to design Sketch files for show and tell. Once high-fidelity designs are approved, I get to see it through by building html/css/js prototypes hosted on <a href="://netlify.com">Netlify</a> for quick feedback. Mockups are then sent to backend developers for final implementation and a quick round of design QA.
										</p>
								</div>
								<div class="work-section">
										<h3 class="work-title">OpenStack's birthday<span class="project-type">Virtual event</span></h3>
										<ul class="work-tags">
											<li>creative direction</li>
											<li>illustration</li>
											<li>illustration</li>
											<li>illustration</li>
											<li>illustration</li>
										</ul>
										<p>
												Cras aliquet interdum turpis eu elementum. Aenean id massa suscipit, consequat urna vitae, rhoncus lectus. Proin nec diam luctus, <a href="#">blandit quam eu</a>, sollicitudin massa.
										</p>
										<p>
											<img src="/img/work/OS-8th-bday.png" alt="" class="work-img">
										</p>
										<p>
												Cras aliquet interdum turpis eu elementum. Aenean id massa suscipit, consequat urna vitae, rhoncus lectus. Proin nec diam luctus, blandit quam eu, sollicitudin massa. Donec tellus ante, elementum id bibendum at, sagittis at orci. Curabitur id elit ante. Maecenas rhoncus, urna ac vulputate pulvinar, magna augue porta nulla, et aliquam leo nisl vel tellus. Nullam tempus massa eu justo pellentesque, nec facilisis est commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec et neque sem. Nunc eleifend elit et eros efficitur, at vulputate est condimentum. Curabitur vel massa eros. Aenean accumsan, mauris at feugiat mollis, justo magna placerat arcu, eu viverra purus tellus id sem. Proin ut nibh condimentum, facilisis ipsum ut, commodo augue. Nullam ut ligula nec augue dictum congue a facilisis justo.
										</p>
								</div>
								<div class="work-section">
										<h3 class="work-title">VentureLab<span class="project-type">Startup</span></h3>
										<ul class="work-tags">
											<li>creative direction</li>
											<li>graphic design</li>
											<li>web design</li>
											<li>content creation</li> 
										</ul>
										<p>
												Cras aliquet interdum turpis eu elementum. Aenean id massa suscipit, consequat urna vitae, rhoncus lectus. Proin nec diam luctus, <a href="#">blandit quam eu</a>, sollicitudin massa.
										</p>
										<p>
											<img src="/img/work/venturelab-web.jpg" alt="" class="work-img">
										</p>
										<p>
												Cras aliquet interdum turpis eu elementum. Aenean id massa suscipit, consequat urna vitae, rhoncus lectus. Proin nec diam luctus, blandit quam eu, sollicitudin massa. Donec tellus ante, elementum id bibendum at, sagittis at orci. Curabitur id elit ante. Maecenas rhoncus, urna ac vulputate pulvinar, magna augue porta nulla, et aliquam leo nisl vel tellus. Nullam tempus massa eu justo pellentesque, nec facilisis est commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec et neque sem. Nunc eleifend elit et eros efficitur, at vulputate est condimentum. Curabitur vel massa eros. Aenean accumsan, mauris at feugiat mollis, justo magna placerat arcu, eu viverra purus tellus id sem. Proin ut nibh condimentum, facilisis ipsum ut, commodo augue. Nullam ut ligula nec augue dictum congue a facilisis justo.
										</p>
								</div>
								<div class="work-section">
										<h3 class="work-title">Vonage<span class="project-type">Sales widget</span></h3>
										<ul class="work-tags">
											<li>web design</li>
											<li>front-end</li>
										</ul>
										<p>
												Cras aliquet interdum turpis eu elementum. Aenean id massa suscipit, consequat urna vitae, rhoncus lectus. Proin nec diam luctus, <a href="#">blandit quam eu</a>, sollicitudin massa.
										</p>
										<p>
											<img src="/img/work/vonage-widget.png" alt="" class="work-img">
										</p>
										<p>
												Cras aliquet interdum turpis eu elementum. Aenean id massa suscipit, consequat urna vitae, rhoncus lectus. Proin nec diam luctus, blandit quam eu, sollicitudin massa. Donec tellus ante, elementum id bibendum at, sagittis at orci. Curabitur id elit ante. Maecenas rhoncus, urna ac vulputate pulvinar, magna augue porta nulla, et aliquam leo nisl vel tellus. Nullam tempus massa eu justo pellentesque, nec facilisis est commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec et neque sem. Nunc eleifend elit et eros efficitur, at vulputate est condimentum. Curabitur vel massa eros. Aenean accumsan, mauris at feugiat mollis, justo magna placerat arcu, eu viverra purus tellus id sem. Proin ut nibh condimentum, facilisis ipsum ut, commodo augue. Nullam ut ligula nec augue dictum congue a facilisis justo.
										</p>
								</div>
								<div class="work-section">
										<h3 class="work-title">HandsDown<span class="project-type">Concept</span></h3>
										<ul class="work-tags">
											<li>UX Design</li>
											<li>front-end</li>
											<li>creative direction</li>
											<li>wireframing</li>
											<li>branding</li>
										</ul>
										<p>
												An exercise to flex that entrepreneurial muscle that lives deep inside me. "HandsDown the best way to get feedback."
										</p>
										<p>
											<img src="/img/work/handsdown-app.png" alt="" class="work-img">
										</p>
										<p>
												Slack has proven to be the defacto communication tool for the teams I'm in, but damn if it's not impossible to collect persist feedback on a design that's posted in Slack. Even with a #design specific channel and thread commenting, the actual design gets pushed up the thread within a few hours. That means active users get to share their thoughts, but anyone in a meeting or another timeszone misses out. Invision is the next best option IMO, but there is some implied luggage if you want to get non-designers to log in, comment, etc. HandsDown was a way to resolve that. Each project would have a single page with a persistent url and token-based identity for feedback. Comments could feed into Slack to encourage participation and keep folks in the loop. Down the road I could see it as a way to select design variations and get final approval.
										</p>
										<p>
											Design is intended to be simple and out of the way, with colors of the uploaded design taking center stage. Shadows and thin lines provide subtle separation and flow. I attempted some experimental UI which would need to be tested before hitting production. As an example, the red lines on the right (under each thumbnail) are meant to visualize votes for those variations. This layout allows for design variations, as well as, multiple view for each variation. Might be a bit much, but that's what users are for right?!?
										</p>
								</div>
								<h2 id="contact">Contact</h2>
								<p>
										Contact, social icons, etc. info will go here.
								</p>
							</div>
					</div>
		</div>