body {
	background: #111;
	color: #777;
	height: 100vh;
}
h1, h2, h3 {
	color: white;
	text-transform: uppercase;
}
h2 {
	margin: 40px 0 20px;
}
a {
	color: #bbb;
	text-decoration: underline;
	&:hover, &:focus {
		color: #fff;
	}
}

// logo fills
.logo-wes {fill:#0FBDE5;}
.logo-wilson {fill:#EF3953;}
.logo-other {fill:#FFFFFF;}

// For mobile nav
.navbar-brand {
	max-width: 50px;
}
.mobile-nav {
	display: none;
	&.show {
		display: flex;
	}
	.navbar-toggler {
		border: 0;
	}
	.nav-link {
		text-decoration: none;
	}
}

// Intro screen
.brand-wrapper {
  display: flex;
  justify-content: center;
	align-items: center;
	position: sticky;
	height: 100vh;
	width: 100%;
	margin: auto;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-ms-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
	.brand {
		position: sticky;
		margin: 0 auto;
		width: 25em;
		height: auto;
		max-width: 100%;
		-webkit-transition: 0.4s all ease-in-out;
		-moz-transition: 0.4s all ease-in-out;
		-ms-transition: 0.4s all ease-in-out;
		transition: 0.4s all ease-in-out;
	}	
	&.small-brand {
		flex-direction: column;
		width: 100px;
		height: auto;
		margin: 0;
		top: 2rem;
		-webkit-transition: 0.4s all ease-in-out;
		-moz-transition: 0.4s all ease-in-out;
		-ms-transition: 0.4s all ease-in-out;
		transition: 0.4s all ease-in-out;
	}
}

// Mouse animation
$mouse-width: 2.3rem;
.mouse {
	max-width: $mouse-width;
	width: 100%;
	height: auto;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform;
}

.more {
	margin-top: 5em;
	display: block;
	opacity: 0.4;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	transition: 0.4s all;
	&:hover {
		opacity: 1;
	}
}

// General styles
.hide {
	display: none;
}
.show {
	display: block;
}


// Sidebar
#sidebar-nav {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	display: none;
	margin-top: 3rem;
	a {
		color: #777;
		text-decoration: none;
		&.active {
			color: white;
		}
	}
	&.show {
		display: block;
	}
}
.inline-block {
	display: inline-block;
}

// Main Content
#main {
	text-align: left;
	position: relative;
	overflow-y: scroll;
	margin-top: 100vh;
	overflow: visible;
	&.condensed {
		margin-top: 0;
		&.mobile-margin {
			margin-top: 70px;
		}
	}
	.more-arrow {
		position: absolute;
		width: 3em;
		top: -200px;
		left: 50%;
		transform: translateX(-50%);
		content: '';
		opacity: 0.4;
		&:hover, &:focus {
			opacity: 1;
		}
	}
}

@media (max-width: 575.98px) {
	#main {
		margin-top: 0;
	}
	.more-arrow {
		display: none;
	}
}

// work
h3.work-title {
	color: #fff;
	font-size: 1em;
	.project-type {
		color: #555;
		padding-left: 0.7em;
		&:before {
			content: '|';
			padding-right: 0.7em;
		}
	}
}
.work-section {
	margin: 30px 0 70px;
}
ul.work-tags {
	margin: 0 0 15px;
	padding: 0;
	border-top: 1px solid #222;
	li {
		list-style: none;
		display: inline;
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		padding-right: 1.5em;
		color: #444;
		&:last-child {
			padding-right: 0;
		}
	}
}
.work-img {
	max-width: 100%;
	margin: 30px 0;
}